<div class="jumbotron jumbotron-fluid jumbotron-extend">
  <div class="container">
    <h1>動画を愛そう。</h1>
    <p>動画をみる時、人生は幸せ？それとも罪悪感？</p>
    <p>Lantern Lanternは、学習と娯楽に費やした動画時間を入力し、</p>
    <p>1日の、1ヶ月の、1年の動画時間を計測します。</p>
    <p>Lantern Lanternは、動画の時間を貯金します。</p>
    <!--<%= link_to "はじめる", root_path, class: "btn btn-info btn-lg" %>-->
  </div>
</div>
